.partnerWrapper{
    width: inherit;
}

.imageContainer{
    display: flex;
    justify-content: center;
}

.customerImg {
    max-width: 100%;
    height: auto;
}

.partnerName {
    text-align: center;
}